<!-- Foi utilizado o comando style="background-color:#bde0fe para mudar as cores de fundo-->
<div class="card" style="background-color:#a2d2ff ;">
    <div class="card-hearder">Filtros</div>
          
        <form>
            <div class="form-group" style="background-color:#a2d2ff ;" >
                <label for="de">De</label>
                <input type="number" id="de"class = "form-control" style="background-color:#bde0fe;">
            </div>
           
            <div class="form-group" style="background-color:#a2d2ff ;">
                <label for="ate">Até</label>
                <input type="number" id="de"class = "form-control" style="background-color:#bde0fe ;">
            </div>
            
            <button class="btn btn-primary btn-block btn-sm" style="background-color:#3a86ff"> Filtrar</button >
           
            
        </form>
    </div>
    
